body{
    font-family: 'Ramaraja', serif;
    text-align: center;
}

h1{
    font-size: 5em;
}

.boardContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 30%;
    margin: 1em auto;
}

.cell{
    width: 100%;
    height: 10em;
    border-right: 0.4em solid rgb(77, 77, 77);
    border-right-style: double;
    border-bottom: 0.4em solid rgb(77, 77, 77);
    border-bottom-style: double;
    font-family: 'Fredoka One', cursive;
    line-height: 150px; //hard-code center
}

.cell:nth-of-type(3n){
    border-right: none;
}

.cell:nth-last-of-type(-n+3){
    border-bottom: none;
}

.cell:hover{
    background-color: gainsboro;
}

